body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay .hover {
  opacity: 0.6;
}

.badge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
}

.profile-cover {
  height: 100px;
  background: #333;
}

.avatar3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #555;
}
